@CHARSET "UTF-8";
body {
	background-color:#F7F8F9;
    margin:0px;
    padding:0px;
}
#main{
	padding:0px;
	width:100%;
	margin:0 auto;
	min-width:1060px;
}
#top_left{
	width:17px;
    background-image: url(../images/mail_leftbg.gif);
	background-repeat: repeat-x;
	float:left;
}
#top_center{
	width:100%;
	height:29px;
    background-image: url(../images/content-bg.gif);
	background-repeat: repeat-x;
	float:left;
	margin:0px;
	padding:0px;
}
#top_left img{
	display:block;
	margin:0px;
	padding:0px;
	width:17px;
	height:29px;
}
#top_right{
	width:16px;
    background-image: url(../images/mail_rightbg.gif);
	background-repeat: repeat-x;
	float:right;
}
#top_title {
	font-size: 12px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	width:85px;
	background-image: url(../images/top_bt.jpg);
	background-repeat: no-repeat;
	display: block;
	text-indent: 15px;
	padding-top: 5px;
	float:left;
}

#top_right img{
	display:block;
	margin:0px;
	padding:0px;
	width:16px;
	height:29px;
}
#middle_center{
	background-color:#F7F8F9;
	float:left;
	width:100%;
	margin:0px;
	padding:0px;


}
#main_content{
	float:left;
	width:96%;
	height:auto;
	margin:0;
	padding:0px;
}
#middle_left{
	width:17px;
	/*height:800px;设置了最小高度,没有的话会自适应*/
    background-image: url(../images/mail_leftbg.gif);
	background-repeat: repeat;
	float:left;
}
#middle_right{
	width:16px;
	/*height:800px;设置了最小高度,没有的话会自适应*/
    background-image: url(../images/mail_rightbg.gif);
	background-repeat: repeat;
	float:right;
}
#bottom_left{
	width:17px;
	height:17px;
    background-image: url(../images/mail_leftbg.gif);
	background-repeat: no-repeat;
	float:left;
}
#bottom_center{
	width:100%;
	height:17px;
    background-image: url(../images/buttom_bgs.gif);
	background-repeat: repeat-x;
	float:left;
	margin:0px;
	padding:0px;
}
#bottom_left img{
	display:block;
	margin:0px;
	padding:0px;
	width:17px;
	height:17px;
}
#bottom_right{
	width:16px;
    background-image: url(../images/mail_rightbg.gif);
	background-repeat: no-repeat;
	float:right;
}
#bottom_right img{
	display:block;
	margin:0px;
	padding:0px;
	width:16px;
	height:17px;
}
a{
	font-size: 12px;
	line-height: 25px;
	color: red;
	text-decoration: none;
}
a:link {
	font-size: 12px;
	line-height: 25px;
	color: red;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	line-height: 25px;
	color: blue;
	text-decoration: none;
}
a:visited {
	font-size: 12px;
	line-height: 25px;
	color: red;
	text-decoration: none;
}
#search{
	margin:0 auto;
	margin-top:10px;
	height:40px;
	width:1040px;
}
#search_main{
	height:40px;
	width:315px;
	float:right;
	padding:0px;
	text-align:right;
}
#content{
	margin:0 auto;
	width:1040px;

}
#fy{
	margin:0 auto;
	margin-top:10px;
	height:40px;
	width:1040px;
}
/******分页样式***************/
#fy .pages {
	color: #000000;
	cursor: default;
	font-size: 10px;
	font-family: Tahoma, Verdana;
    width:1040px;
    height:30px;

}
#fy #count
{
    color: #000000;
	font-size: 10px;
	background-color: #F0FFFF;
	border-top: 1px solid #b6d0e4;
	border-left: 1px solid #b6d0e4;
	border-bottom: 1px solid #b6d0e4;
	width:80px;
    height:28px;
	float:left;
	line-height:28px;
	vertical-align:middle;
}
#fy #number
{
   	color: #000000;
	font-size: 10px;
	background-color: #F0FFFF;
	border-top: 1px solid #b6d0e4;
	border-right: 1px solid #b6d0e4;
	border-left: 1px solid #b6d0e4;
	border-bottom: 1px solid #b6d0e4;
	width:892px;
    height:28px;
    line-height:28px;
	vertical-align:middle;
	float:left;
	text-align:center;

}
#fy .pages .arrow {
	color: #000000;
	font-size: 10px;
	background-color: #F0FFFF;
	border: 1px solid #b6d0e4;

}
/* 页数和总页数样式 */
#fy .pages #count {
	font-weight: bold;
	border-right: none;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left:15px;
}
/*模式的样式 */
#fy .pages #number {
	font-weight: normal;
	padding-top:0px;
	padding-bottom: 0px;
	padding-left:50px;
}
#fy .pages #number a, .pages .number span {
	font-size: 10px;
}
#fy .pages #number span {
	color: #999999;
	margin: 0px 3px 0px 3px;
}
#fy .pages #number a {
	color: #000000;
	text-decoration: none;
}
#fy .pages #number a:hover {
	color: #0000ff;

}
#sub{
	width:60px;
	height:22px;
	line-height:22px;
	vertical-align:middle;
	margin-top:-5px;
	padding:0px;
	border:0px;
	background-color:#80aaff;
}
#sel{
	margin-top:10px;
}
#inp{
	margin-top:10px;
}
#lb_head{
	font-size:12px;
	color: #1d47fc;
	font-weight: bold;
}
#lb_head a{
	font-size: 12px;
	line-height: 25px;
	color:  #1d47fc;
	text-decoration: none;
}
#lb_head a:link {
	font-size: 12px;
	line-height: 25px;
	color:  #1d47fc;
	text-decoration: none;
}
#lb_head a:hover {
	font-size: 12px;
	line-height: 25px;
	color:  #1d47fc;
	text-decoration: none;
}
#lb_head a:visited {
	font-size: 12px;
	line-height: 25px;
	color:  #1d47fc;
	text-decoration: none;
}
#lb_head_cz{
	font-size:12px;
	color: #1d47fc;
	font-weight: bold;
}
#cz{
    padding:0px;
	border:0px;
	color:red;
	text-align:center;
	line-height:22px;
	vertical-align:middle;
}

#fgf{
	width:1px;
	height:15px;
	border:0px;
	margin-top:5px;
}
/**************Ip查询样式******************/
#ip_search{
	margin:0px;
	width:100%;

}
#hidden_s{
    padding:0px;
	border:0px;
	margin:0px;
	height:0px;
	width:0px;
}
/**************修改密码样式*****************/
#content_mima
{
	margin-top:20px;
	margin-left:15px;
}
#user{
	font-size:14px;
}
#user input{
	width:180px;
}
#user_cz{
		font-size:14px;
}
/**************修改头部样式*****************/
#content_mima
{
	margin-top:20px;
	margin-left:15px;
}
#tb{
	font-size:14px;
}
#tp{
	width:180px;
}
#tb_cz{
		font-size:14px;
}
/**************修改链接样式*****************/
#warn{
	font-size:12px;
	color:Red;
}
#seccess{
	font-size:12px;
	color:green;
}
